<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=The+Nautigal&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Detalle del producto</title>
</head>

<body>
    <header>
        <nav>
            <div class="icon-bar">
                <i class="fab fa-buffer"></i>
            </div>
            <div class="name-barsearch">
                <h2 id="nameMarca">Ambos Seven</h2>
                <input type="search" name="" id="">
            </div>
            <div class="icons-desktop">
                <article>
                    <i class="fas fa-search"></i>
                </article>
                <article>
                    <i class="fas fa-sign-in-alt"></i>
                </article>
                <article>
                    <i class="fas fa-cart-plus"></i>
                </article>

            </div>
            <div class="container">

                <ul>
                    <li>
                        <a href="#">
              Nosotros
            </a>
                    </li>
                    <li>
                        <a href="#">Productos</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li>
                        <a href="#">Tabla de Talles</a>
                    </li>
                </ul>

            </div>

        </nav>

        <main>
            <section>



                <h1 class="titulo1">AMBO SPANDEX GRIS</h1>




                <article> <img src="/images/producto5.jpg" class="imagen" alt="ambo">

                    <p class="descripcion"> Chaqueta y pantalón celeste combinación con rosado. <br> Pantalón recto y chaqueta cuello Y.<br> TELA PRIMAVERAL</p>

                    <h2 class="precio">Precio: $2.800,00</h2>
                    <p class="icono"><span class="material-icons">
                    credit_card 
                    </span> Pagá hasta 12 cuotas de $233</p>


                    <p class="pago"> Ver otros Medios de pagos</p>





                    <div>
                        <p class="talle">TALLE <select class="selector" aria-label="Talle">
                  <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option></p>
                    </select>
                    </div>


                    <br>

                    <input type="number" id="cantidad" placeholder="Cantidad" name="cantidadProducto" min="1">
                    <p class="carritos"><span class="material-icons">

shopping_cart
                                </span> Agregar al carrito </p>




                    <p class=" cambios"> <span class="material-icons">
                        restore
                        </span> ¡30 DIAS DE CAMBIO! <br> <b> No te gusto o no es tu talle, tenés 30 días para cambiarlo.</b>
                    </p>

                </article>

            </section>


            <br>
            <section>

                <h4 class="producto">PRODUCTO</h4>

                <p class="productos">El Ambo Primaveral Celeste (100% Lino) se compone de chaqueta celeste con detalles en color rosado en el cuello. Pantalón celeste con detalles en bolsillos y cintura ajustable. <br> Se destacan por la calidad del material y los detalles
                    únicos de confección. Además la combinación de colores especialmente seleccionados le dan el toque fresco que no puede faltar en las prendas Ambos Seven. </p>


                <h4 class="producto"> RECOMENDACIONES Y CUIDADOS</h4>

                <div class="cuidados">

                    <ul>
                        <li>

                            Lavar con agua fría, preferentemente a mano.

                        </li>
                        <li>
                            Centrifugar antes de poner a secar.
                        </li>
                        <li>
                            Plancha suave.
                        </li>

                    </ul>

                </div>



            </section>
        </main>
        <footer>

            <section>
                <h4 class="subtitulo">Medios de Pago</h4>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-mastercard"></i>
            </section>

            <section>
                <h4 class="subtitulo">¡Seguinos en nuestras redes sociales!</h4>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </section>

            <p>Copyright Ambos Seven - 2022. Todos los derechos reservados. Design by: Grupo 5</p>

        </footer>



</body>

</html>