footer {
    width: 100vw;
    text-align: center;
    background-color: #E5DFDFff;
    color: #808C8Dff;
    min-height: 180px;
}

footer section i {
    font-size: 2.5rem;
}

footer section {
    padding-top: 8px;
    padding-bottom: 8px;
}
