* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-button {
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding-top: 10 px;
}

.form-group-create {
    text-align: center;
    font-family: 'roboto', sans-serif;
}

.send {
    width: 40%;
    padding: 10px 25px;
    background-color: palevioletred;
    color: black;
    border-radius: 28px;
    font-size: 16px;
    font-weight: bold;
    margin: 30px;
}

.send:hover {
    background-color: rgb(234, 176, 195);
    color: #000000;
    transition: backgroun-color, 0.08s, color, 0.08;
}

.p {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    margin: 5px;
}