<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/catalogo.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=The+Nautigal&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
    <title>Ambos Seven - Productos</title>
</head>
<body>
    <header>
        <nav>
          <div class="icon-bar">
          <i class="fab fa-buffer"></i>
          </div>
          <div class="name-barsearch">
            <h2 id="nameMarca">Ambos Seven</h2>
            <input type="search" name="" id="">
          </div>
          <div class="icons-desktop">
            <article>
              <i class="fas fa-search"></i>
            </article>
            <article>
              <i class="fas fa-sign-in-alt"></i>
            </article>
            <article>
              <i class="fas fa-cart-plus"></i>
            </article>
    
        </div>
          <div class="container">
            
            <ul>
              <li>
                <a href="#">
                  Nosotros
                </a>
              </li>
              <li>
                <a href="#">Productos</a>
              </li>
              <li>
                <a href="#">Contacto</a>
              </li>
              <li>
                <a href="#">Tabla de Talles</a>
              </li>
            </ul>
            
          </div>
          
        </nav>

    </header>

    <main id="mainCatalogo">
        <h2 class="titulo2">Catálogo de productos</h2>

        <div id="opcionesFiltrado">

            <select class="form-select filtro1" aria-label="Default select example">
                <option selected>Más destacados</option>
                <option value="mayor">Mayor precio</option>
                <option value="menor">Menor precio</option>
            </select>

            <!--Al presionar este boton aparecera un cuadro con opciones de filtrado avanzadas-->
            <button type="button" class="btn"><i class="fas fa-filter"></i></button>
            

        </div>

        <section id="productosDestacados">

            <article>
              <img src="/images/producto1.jpg" alt="ambo">
              <div>
              <h3>Ambo 1</h3>
              <h3>$3500</h3>
              <i class="far fa-plus-square"></i>
              </div>
            </article>
  
            <article>
              <img src="/images/producto2.jpg" alt="ambo">
              <div>
              <h3>Ambo 2</h3>
              <h3>$2500</h3>
              <i class="far fa-plus-square"></i>
              </div>
            </article>
  
            <article>
              <img src="/images/producto3.jpg" alt="ambo">
              <div>
              <h3>Ambo 3</h3>
              <h3>$4500</h3>
              <i class="far fa-plus-square"></i>
              </div>
            </article>
  
            <article>
              <img src="/images/producto4.jpg" alt="ambo">
              <div>
              <h3>Ambo 4</h3>
              <h3>$3000</h3>
              <i class="far fa-plus-square"></i>
              </div>
            </article>
  
            <article>
              <img src="/images/producto5.jpg" alt="">
              <div>
              <h3>Ambo 5</h3>
              <h3>$2800</h3>
              <i class="far fa-plus-square"></i>
              </div>
            </article>
  
            <article>
              <img src="/images/producto6.jpg" alt="">
              <div>
              <h3>Ambo 6</h3>
              <h3>$3500</h3> 
              <i class="far fa-plus-square"></i>
              </div>
            </article>

        </section>

    </main>

    <footer>
    
        <section>
          <h4 class="subtitulo">Medios de Pago</h4>
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-amex"></i>
          <i class="fab fa-cc-mastercard"></i>
        </section>
    
        <section>
          <h4 class="subtitulo">¡Seguinos en nuestras redes sociales!</h4>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
        </section>
    
        <p>Copyright Ambos Seven - 2022. Todos los derechos reservados. Design by: Grupo 5</p>
    
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>  
  
</body>
</html>