<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle del producto</title>
    <%- include('./partials/head') %>
</head>

<body>

    <header>
        <%- include('./partials/navbar') %>
    </header>

    <main>
            <section>

                <h1 class="titulo1">Ambo  Arciel  Blanco</h1>

                <article> <img src="/images/producto1.jpg" class="imagen" alt="ambo">

                    <p class="descripcion"> Chaqueta y pantalón blanco combinación con naranja. <br> Pantalón recto y chaqueta cuello cruzado Mao. <br> TELA ARCIEL </p>

                    <h2 class="precio">Precio: $3.500,00</h2>
                    <p class="icono"><span class="material-icons">
                    credit_card 
                    </span> Pagá hasta 12 cuotas de $291</p>


                    <p class="pago"> Ver otros Medios de pagos</p>





                    <div>
                        <p class="talle">TALLE <select class="selector" aria-label="Talle">
                  <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option></p>
                    </select>
                    </div>


                    <br>

                    <input type="number" id="cantidad" placeholder="Cantidad" name="cantidadProducto" min="1">

                    <p class="carritos">
                        <span class="material-icons">shopping_cart</span> 
                        Agregar al carrito
                    </p>

                    <p class=" cambios"> 
                        <span class="material-icons"></span>
                        ¡30 DIAS DE CAMBIO! <br> 
                        <b> No te gusto o no es tu talle, tenés 30 días para cambiarlo.</b>
                    </p>

                </article>

            </section>


            <br>
            <section>

                <h4 class="producto">PRODUCTO</h4>

                <p class="productos">El Ambo Arciel Blanco (65% Polyester, 35% Viscosa) se compone de chaqueta poplin finita blanca con detalles en color naranja en bolsillos, cuello, mangas. Tiras ajustables en la espalda para estilizar el cuerpo a gusto!. Pantalón recto
                    blanco con detalles en naranja.
                    <br> Se destacan por la calidad del material y los detalles únicos de confección. Además la combinación de colores especialmente seleccionados le dan el toque fresco que no puede faltar en las prendas Ambos Seven. </p>


                <h4 class="producto"> RECOMENDACIONES Y CUIDADOS</h4>

                <div class="cuidados">

                    <ul>
                        <li>

                            Lavar con agua fría, preferentemente a mano.

                        </li>
                        <li>
                            Centrifugar antes de poner a secar.
                        </li>
                        <li>
                            Plancha suave.
                        </li>

                    </ul>

                </div>



            </section>
        </main>

    <%- include('./partials/head') %>
</body>

</html>