<footer>

    <section>
        <h4 class="subtitulo">Medios de Pago</h4>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-amex"></i>
        <i class="fab fa-cc-mastercard"></i>
    </section>

    <section>
        <h4 class="subtitulo">¡Seguinos en nuestras redes sociales!</h4>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
    </section>

    <p>Copyright Ambos Seven - 2022. Todos los derechos reservados. Design by: Grupo 5</p>

</footer>