<header>
    <nav>
        <div class="icon-bar">
        <i class="fab fa-buffer"></i>
        </div>
        <div class="name-barsearch">
        <h2 id="nameMarca"><a href="/">Ambos Seven</a></h2>
        <input type="search" name="" id="">
        </div>
        <div class="icons-desktop">
        <article>
            <i class="fas fa-search"></i>  
    </nav>
</header>