<nav>
    <div class="icon-bar">
        <i class="fab fa-buffer"></i>
    </div>
    <div class="name-barsearch">
        <h2 id="nameMarca">Ambos Seven</h2>
        <input type="search" name="" id="">
    </div>
    <div class="icons-desktop">
        <article>
            <button type="submit"><i class="fas fa-search"></i></button>
        </article>
        <article>
            <a href="/user/login"><i class="fas fa-sign-in-alt"></i></a>
        </article>
        <article>
            <a href="/productCart"><i class="fas fa-cart-plus"></i></a>
        </article>
        <article>
            <a href="/creacionproduct"><span class="material-icons">
                list
                </span></a>
        </article>

    </div>
    <div class="container">

        <ul>
            <li>
                <a href="#">Nosotros</a>
            </li>
            <li>
                <a href="/producto">Productos</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
            <li>
                <a href="#">Tabla de Talles</a>
            </li>
        </ul>

    </div>

</nav>