<header>
    <nav>

        <div id="cabeceraSup">

            <h2 id="nameMarca">Ambos Seven</h2>
            <!--
            <div id="icon-responsive">
                <button ><i class="fab fa-buffer"></i></button>
            </div>-->

            <div class="icons-desktop">

                <article>
                    <button id="open"><i class="fas fa-search"></i></button>
                </article>

                <article>
                    <a href="/user/login"><i class="fas fa-sign-in-alt"></i></a>
                </article>

                <article>
                    <a href="/productCart"><i class="fas fa-cart-plus"></i></a>
                </article>

            </div>

        </div>

        <label id="btnMenu" for="check"><i class="fas fa-bars"></i></label>
        <input type="checkbox" id="check">

        <div class="container">

            <ul>
                <li>
                    <a class="active" href="#">Home</a>
                </li>

                <li>
                    <a href="/producto">Productos</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
                <li>
                    <a id="open2" href="#">Tabla de Talles</a>
                </li>
            </ul>

        </div>

    </nav>

    <div class="modal-container" id="modal_container" >

        <div class="modal1">
    
            <h3 class="titulo2">Buscar producto</h3>
    
            <form id="formBuscar" action="">
                <input type="text" name="productoBuscado">
    
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
    
            <button id="close">Cerrar</button>
        </div>
    
    </div>

</header>

